# Preserve archived upstream artwork and licence notices byte-for-byte for their hashes.
# Their original formatting is not governed by this project's whitespace style.
artwork/open-tracks/sources/** -text -whitespace
app/assets/licenses/** -text -whitespace
